:root{
    --page-color:hsla(30, 32%, 88%, 0.9);
    --body-color: hsla(359, 39%, 35%, 0.9);
    --web-font: ();
    --font-color: rgb(0, 0, 0);
    --font-weight: ();
    --line-height: ();
    --text-allign: ();
    

}
li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: red;
}
h1{
    letter-spacing: 5px;
    transition-duration: 1s;
}
p{
    line-height: 20px;
    text-align: center;
}
a{
    font-style: oblique;
}
a:hover { 
    color: black;
 } 
 h1:hover{
transform: rotate(3deg);
 }

div.navbar{
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    height: 30px;
    border: 5px solid black;
    background-color: greenyellow;

}
div.myImage{
    position: fixed;
    float: right;
    width: 500px;
    height: 100px;
    right:0;
}
footer{
    position: fixed;
    bottom:0;
    left: 0;
    background-color: greenyellow;
    border: 5px solid black;


}
div.introduction{
    position: fixed;
    float: left;
    width: 300px;
    top: 35px;
    left:0;
    border: 5px solid black;
    background-color: greenyellow;
}
div.assignment{
    position: absolute;
    top:65px;
    left: 350px;
}
div.portfolio{
    left: 0px;
    top: 390px;
    position: absolute;
}
div.schedule{
    position: absolute;
    top: 200px;
    left: 350px;
    border: 5px solid black;
    padding: 15px;
    vertical-align: top;

}

body {
    background-image: url(../img/background1.webp);
}
address{
    border: 5px solid black;

}
p::first-letter{
    font-size: 2em;
    font-style: bold;
}


